<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Procesta_Petunia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <userSettings>
    <Procesta_Petunia.Properties.Settings>
      <setting name="LoginPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="LoginEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOrderDelivery" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DatabaseUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseServerip" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePortNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="DarabaseDefultDatabase" serializeAs="String">
        <value />
      </setting>
    </Procesta_Petunia.Properties.Settings>
  </userSettings>
</configuration>
